@import url('https://fonts.googleapis.com/css?family=Chewy|Ubuntu+Mono:400,700&display=swap');
:root{
    --font-sans-serif: 'Ubuntu Mono', monospace;
    --font-display: 'Chewy', cursive;
    --oatblue:#9ac6d3;
}
html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    font-family: var(--font-sans-serif); 
    line-height:1.5;
}
a{
    color: black;
    font-weight: 700;
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;;
}
.component img{
    max-width: initial;
}
.component__img{
    border: 1px solid #ccc;
    overflow-x: auto;
}
.component__code{
    border: 1px solid #ccc;
}
.container{
    max-width: 860px;
    margin: 0 auto;
}
.container--grid{
    /* max-width: 860px;
    margin: 0 auto; */
    background-color:#c7ad8b ;
}
.container--info{
    max-width: 220px;
    background-color:#c7ad8b ;
    display: inline-block;
    margin:10px;
}
.container__img{
    width:160px;
    /* display: inline-block;
    margin: 0 auto; */
}
.info{
    font-size: 13px;
    width: 162px;
    margin: 0 auto;
}
.grid{
    width:832px;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
}
.logo{
  float: left;
}

h1,h2,h3{
    font-family: var(--font-display);
    text-transform: uppercase;
    letter-spacing: .08em;
    line-height:1.2;
}
p{
    text-align: center;
}
h1{
    /* background-color:var(--oatblue); */
    font-size: 2.5em;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
li{
    list-style: none;
    font-size: 1.2em;
    
    
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--font-display);
    text-transform: uppercase;
    letter-spacing: .08em;
    line-height:1.2;
    float:right;
  }

  .footer{
      text-align: left;
      background-color:#242424;
      font-family: var(--font-sans-serif);
      color: white;
      font-size: 13px;
      padding: 20px 40px;
  }
  .social{
      margin: 10px 0;
      width: 20px;
      display: inline;
  }

