<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
        <link rel="stylesheet" type="text/css" href="../css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        <title>Components | Oatly</title>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap" rel="stylesheet"/>
    </head>

    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

       <article class="component"> 
        <h3 class="component__name">Body</h3>
        <div class="component__img">
            <img srcset="img/body.png 2x" src="img/body.png" alt="body copy"/>
        </div>
            <div class="component__code">
            <p>
                Thirty years ago there was no Oatly, just some researchers at a 
                university in a country mistakenly known for polar bears roaming 
                the streets, nerding out on ways to turn oats into milk. And now 
                here you are reading about the invention of the world’s first oatmilk 
                and you can even order some and try it <a href="#!">here</a>. Or if you think that was 
                kind of a hard sales pitch and you were just getting into the story, 
                click <a href="#!">here</a>.
            </p>
        </div>
       </article>

       <article class="component"> 
            <h3 class="component__name">Headings</h3>
            <div class="component__img">
                <img srcset="img/h1.png 2x" src="img/h1.png" alt="h1 copy"/>
                <img srcset="img/h2.png 2x" src="img/h2.png" alt="h2 copy"/>
                <img srcset="img/h3.png 2x" src="img/h3.png" alt="h1 copy"/>
            </div>
                <div class="component__code">
                <h1>The Oatly Process</h1>
                <h2>Products</h2>
                <h3>This is Oatly</h3>
            </div>
           </article>

           <article class="component"> 
                <h3 class="component__name">Nav</h3>
                <div class="component__img">
                    <img srcset="img/nav.png 2x" src="img/nav.png" alt="body copy"/>
                </div>
                    <div class="component__code">
                            <ul class="nav">
                                    <li class="nav__li"><a href="#about"><img src="img/cart.svg" alt="cart" style="width: 25px;"/></a></li>
                                    <li><a href="#about">The Oatly Way</a></li>
                                    <li><a href="#process">Process</a></li>
                                    <li><a href="#contact">Oatfinder</a></li>
                                    <li><a href="#news">Products</a></li>       
                            </ul>
                </div>
               </article>

               <article class="component"> 
                    <h3 class="component__name">Hero Section</h3>
                    <div class="component__img">
                        <img srcset="img/hero1.png 2x" src="img/hero1.png" alt="hero copy"/>
                    </div>
                    <div class="component__code">
                        <div class="container">
                        <img src="img/hero.png" alt="hero" style="width:860px;"/>
                        <p>
                            Thirty years ago there was no Oatly, just some researchers at a 
                            university in a country mistakenly known for polar bears roaming 
                            the streets, nerding out on ways to turn oats into milk. And now 
                            here you are reading about the invention of the world’s first oatmilk 
                            and you can even order some and try it <a href="#!">here</a>. Or if you think that was 
                            kind of a hard sales pitch and you were just getting into the story, 
                            click <a href="#!">here</a>.
                        </p>
                        </div>
                    </div>
                   </article>

                   <article class="component"> 
                        <h3 class="component__name">Info Grid Elements</h3>
                        <div class="component__img">
                            <img srcset="img/carton.png 2x" src="img/carton.png" alt="carton"/>
                        </div>
                        <div class="component__code">
                            <div class="container--info">
                            <img class="container--info container__img" src="img/carton2.png" alt="carton" />
                            <p class="info">
                                More than you would ever want to know about our products.
                            </p>
                            </div>
                        </div>
                    </article>

                       <article class="component"> 
                            <h3 class="component__name">Info Grid</h3>
                            <div class="component__img">
                                <img srcset="img/infogrid.png 2x" src="img/infogrid.png" alt="infogrid"/>
                            </div>

                    <div class="component__code">
                        <div class="container--grid">
                            <div class="grid">
                                <div class="container--info">
                                <img class="container--info container__img" src="img/carton2.png" alt="carton" />
                                <p class="info">
                                    More than you would ever want to know about our products.
                                </p>
                                </div>

                                <div class="container--info">
                                    <img class="container--info container__img" src="img/carton3.png" alt="carton" />
                                    <p class="info">
                                        What makes Oatly Oatly and not just another company.
                                    </p>
                                </div>

                                <div class="container--info">
                                    <img class="container--info container__img" src="img/carton4.png" alt="carton" />
                                    <p class="info">
                                        The map. Whenever getting cravings for a cappoatccino.
                                    </p>
                                </div>

                                <div class="container--info">
                                    <img class="container--info container__img" src="img/carton5.png" alt="carton" />
                                    <p class="info">
                                        Monthly cred to amazing people doing amazing things.
                                    </p>
                                </div>

                            </div>
                                </div>
                            </div>
                           </article>

                           
                           <article class="component"> 
                                <h3 class="component__name">Footer</h3>
                                <div class="component__img">
                                    <img srcset="img/footer.png 2x" src="img/footer.png" alt="carton"/>
                                </div>
                                <div class="component__code">
                                
                                    <ul class="footer">
                                        <h2>This is Oatly</h2>
                                        <li>About the Company</li>
                                        <li>Healthcare Professionals</li>
                                        <li>Sustainability Report</li>
                                    
                                            <a href="#"><img class="social" src="img/facebook.svg" alt="facebook" /></a>
                                            <a href="#"><img class="social" src="img/instagram.svg" alt="instagram" /></a>
                                            <a href="#"><img class="social" src="img/twitter.svg" alt="twitter" /></a>
                                            <a href="#"><img class="social" src="img/youtube.svg" alt="youtube" /></a>
                                        
                                        </ul>
                                    
                                </div>
                            </article>


    </body>

</html>